html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}

body {
  width: 100%;
  height: 100vh;
  background: url(assets/freedom.jpg) no-repeat center;
  background-size: cover;
}

.wrapper {
  padding-top: 4rem;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.mondat {
  font-family: 'Crimson Text', Arial;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.iro {
  font-family: 'Julius Sans One', Times New Roman;
  font-style: italic;
  font-size: .8rem;
}